<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help - Draft Cover Letter</title>
    <style>
        .video-container {
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
            margin-left: 0;
        }
        video {
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <div style="display: flex; justify-content: flex-end;">
        <a href="{{ url_for('index') }}">[Return]</a>
    </div>
    <h1>Help - Draft Cover Letter</h1>
    <div class="video-container">
        <video controls>
            <source src="/static/video/Help-CoverLetter.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <h2>Links to Consider</h2>
    <ul>
        <li><a href="https://www.churchofjesuschrist.org/life/how-to-write-an-effective-cover-letter?lang=eng">How to Write an Effective Cover Letter</a></li>
        <li><a href="https://players.brightcove.net/1241706627001/default_default/index.html?videoId=6263700776001">How to Write Cover Letters That Get You Interviews</a></li>
        <li><a href="https://www.churchofjesuschrist.org/media/video/2016-12-0004-the-16th-time-is-the-charm?lang=eng">The 16th Time is the Charm</a></li>
        <li><a href="https://www.churchofjesuschrist.org/life/ask-an-expert-forum?lang=eng">Ask an Expert</a></li>
        <li><a href="https://employmentservices.churchofjesuschrist.org/jobSeekers">Get Personilized Help</a></li>
        <li><a href="https://www.churchofjesuschrist.org/life/accelerated-job-search?lang=eng">Join a Job Search Group</a></li>
    </ul>
    <a href="https://www.churchofjesuschrist.org/?lang=eng"><strong>The Church of Jesus Christ of Latter-day Saints</strong></a>
</body>
</html>