 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spiritual Guide to Life’s Job Search</title>
</head>
<body>
    <div style="display: flex; justify-content: flex-end;">
        <a href="/">[Return]</a>
    </div>
<!--
        <a href="#" onclick="openSameSizePopup()">[Help]</a>
-->
    <div>
        <a href="#" onclick="openSameSizePopup()" title="Watch Help Video">
            <img src=" static/Help-Spiritual.png"  style="height: 120px; vertical-align: middle; 60px;" >
        </a>
    </div>
    <h1>Spiritual Guide to Life’s Job Search</h1>

    <h2>Fundamental Process</h2>
    <p>The following steps are intended to help keep the Lord’s guidance as the mainstay of your search. Following these steps are links to helpful support website.</p>
        <li>Always begin an effort with prayer</li>
        <li>Review your patriarchal blessing at the begin of you journey and regelarly</li>
    </ol>

    <h3>Reference Material</h3>
    <ul>
        <li><a href="https://www.churchofjesuschrist.org/media/video/2013-01-0003-mountains-to-climb?lang=eng">Climb a Mountain</a></li>
        <li><a href="https://www.churchofjesuschrist.org/life/employment-services?lang=eng">The Church of Jesus Christ of Latterday Saints - employment services</a></li>
        <ul>
            <li>(English and Spanish)</li>
            <li>Phone: 888-818-4484</li>
            <li>Email: EmploymentServices@ChurchofJesusChrist.org</li>
        </ul>
        <li><a href="https://www.churchofjesuschrist.org/study/books-and-lessons/self-reliance-resources?lang=eng">Self-reliance Courses</a></li>
        <li><a href="https://www.churchofjesuschrist.org/self-reliance/course-materials/emotional-resilience-self-reliance-course-video-resources?lang=eng">Finding Strength in the Lord: Emotional Resilience</a></li>
        <li><a href="https://www.edwardjones.com/us-en/market-news-insights/guidance-perspective/layoff-buyout">What to do after job loss</a></li>
    </ul>

    <a href="https://www.churchofjesuschrist.org/?lang=eng"><Strong>The Church of Jesus Christ of Latterday Saints</Strong></a>

<script>
  function openSameSizePopup() {
    const width = window.innerWidth;
    const height = window.innerHeight;
    const left = window.screenX;
    const top = window.screenY;

    window.open(
      'spiritual-help',
      'videoWindow',
      `width=${width},height=${height},left=${left},top=${top},resizable=yes`
    );
  }
</script>
</body>